.all-questions-section {
  padding-top: 180px;
  padding-bottom: 100px;
  background-color: var(--light-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.user-questions {
  display: grid;

  gap: 2rem;
  width: 90%;
  max-width: 1100px;
}

.user-type-text {
  text-align: center;
  max-width: 700px;
  margin-bottom: 2rem;
}


.user-type-text h2 {
  color: var(--orange);
  font-family: "Fugaz One", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.question-card{
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.question{
  display: block;
  font-family: "Fugaz One", sans-serif;
  color: var(--brown);
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.answer{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 12px 24px;
  font-family: "Tahoma", sans-serif;
  color: black;
  font-size: 1.25rem;
  text-align: justify;
}

.example-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-image img.example {
  width: 60%;
  height: auto;
  border-radius: 2%;
}
